<div class="body">


</div>

<div class="row">
  <div class="col-md-6 col-sm-6 col-lg-4">
    <div class = "boxdiv">
      <p class="srv_name"><label>Srv1</label></p>
      <p class="resp">Responce Time: 2ms</p>
      <p class="proc">Active Process: 236
        <br>
        Active Threads: 3343
      </p>
      <p class="srv_up">Server Uptime: 8 Days 13 Hours 27 Minutes</p>
    </div>
  </div>
  <div class="col-md-6 col-sm-6 col-lg-4">
    <div class = "boxdiv">
      <label>Label2</label>
      <p class="srv_up">Server Uptime: 8 Days 13 Hours 27 Minutes</p>
    </div>
  	
  </div>
  <div class="col-md-6 col-sm-6 col-lg-4">
    <div class = "boxdiv">
      <label>Label3</label>
      <p class="srv_up">Server Uptime: 8 Days 13 Hours 27 Minutes</p>
    </div>
  	
  </div>
  <div class="col-md-6 col-sm-6 col-lg-4">
    <div class = "boxdiv">
      <label>Label4</label>
      <p class="srv_up">Server Uptime: 8 Days 13 Hours 27 Minutes</p>
    </div>
  	
  </div>
  <div class="col-md-6 col-sm-6 col-lg-4">
    <div class = "boxdiv">
      <label>Label5</label>
      <p class="srv_up">Server Uptime: 8 Days 13 Hours 27 Minutes</p>
    </div>
  	
  </div>
</div>